[submodule "lib/JPEGDecoder"]
	path = lib/JPEGDecoder
	url = https://github.com/MakotoKurauchi/JPEGDecoder.git
[submodule "lib/AD9850"]
	path = lib/AD9850
	url = https://github.com/F4GOJ/AD9850.git
[submodule "lib/Adafruit-VC0706-Serial-Camera-Library"]
	path = lib/Adafruit-VC0706-Serial-Camera-Library
	url = https://github.com/adafruit/Adafruit-VC0706-Serial-Camera-Library.git
[submodule "lib/SD"]
	path = lib/SD
	url = https://github.com/adafruit/SD.git
[submodule "lib/DueTimer"]
	path = lib/DueTimer
	url = https://github.com/ivanseidel/DueTimer.git
